.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/app/images/bg-masthead.jpg");
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .header .content-bottom {
    display: flex;
    padding-top: 50px;
    width: 70%;
    gap: 10px;
    justify-content: space-between;
  }
  
  .header h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 3.1em;
  }
  
  .header input {
    font-size: 1.3em;
    height: 50px;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 5px;
  }
  
  .header a {
    font-size: 1.3em;
    height: 50px;
    line-height: 50px;
    width: 25%;
    text-decoration: none;
    background: $blue;
    color: white;
    border-radius: 5px;
    text-align: center;
  }