main {
    display: flex;
    flex-wrap: wrap;
}
  
main section {
    display: flex;
    flex-wrap: nowrap;
    height: 550px;
    width: 100%;
}
  
main section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: white;
}
  
main section div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
  
main section div p {
    font-size: 1.3em;
}

.text {
    padding: 100px;
}

h4 {
    font-size: 2em;
    
}
  