.nav {
    position: fixed;
    background: white;
    width: 100%;
    height: 60px;
    padding: 10px;
    padding-left: 14%;
    padding-right: 14%;
  }
  
  nav .nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav h3 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 40px;
  }
  
  nav a {
    height: 40px;
    line-height: 40px;
    width: 70px;
    text-decoration: none;
    background: $blue;
    color: white;
    border-radius: 5px;
    text-align: center;
  }